 ## Dictionary  -  { key: value}

*   Collection of Objects
*   Use key-value pairs separated by comma
*   Unique Keys
*   Mutable

## Creating a dictionary

In [1]:
d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
d1 = {1:'A',2:'B',3:'C',4:"D"}
d1

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [3]:
d2 = {'A':100,20:2.5,'Q':True,2.5:500,'W':[1,2,3]}
d2

{'A': 100, 20: 2.5, 'Q': True, 2.5: 500, 'W': [1, 2, 3]}

In [5]:
d3 = {1:100,2:200,1:500,3:500}
d3

{1: 500, 2: 200, 3: 500}

## Access values using key

In [6]:
d1

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [7]:
d1[3]

'C'

## Access values using get()  (dict.get(key))

In [8]:
d1.get(4)

'D'

## Access key and value as pairs (d.items())

In [9]:
d1.items()

dict_items([(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')])

## Access only the keys (d.keys())

In [10]:
d1.keys()

dict_keys([1, 2, 3, 4])

## Access only the values (d.values())

In [11]:
d1.values()

dict_values(['A', 'B', 'C', 'D'])

## Access keys and/or values using loop

In [13]:
# dict_keys([1, 2, 3, 4]
for i in d1.keys():
    print(i)

1
2
3
4

In [14]:
for i in d1:
    print(i)

1
2
3
4

In [15]:
for v in d1.values():
    print(v)

A
B
C
D

In [16]:
d1

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}

In [21]:
for k,v in d1.items():
    print(f"key {k} value is {v}")

key 1 value is A
key 2 value is B
key 3 value is C
key 4 value is D

## inserting new item or updating existing item using "keys"

In [23]:
d3[5] = 600
d3

{1: 500, 2: 200, 3: 500, 5: 600}

In [24]:
d3[2] = 400
d3

{1: 500, 2: 400, 3: 500, 5: 600}

## inserting new items or updating existing items using (d.update({k:v pairs}))

In [25]:
d3.update({6:700,8:800,1:1000})
d3

{1: 1000, 2: 400, 3: 500, 5: 600, 6: 700, 8: 800}

## Delete the last inserted K-v pair (d.popitem())

In [26]:
d3.popitem()

(8, 800)

In [27]:
d3

{1: 1000, 2: 400, 3: 500, 5: 600, 6: 700}

## Delete using key (d.pop(key)) or del

In [28]:
d3.pop(3)

500

In [29]:
d3

{1: 1000, 2: 400, 5: 600, 6: 700}

In [30]:
del(d3[5])
d3

{1: 1000, 2: 400, 6: 700}

## Test a key is in dictionary using "in"

In [31]:
d3

{1: 1000, 2: 400, 6: 700}

In [32]:
2 in d3

True

In [33]:
2 in d3.keys()

True

In [34]:
700 in d3.values()

True

In [36]:
# Read value for n
# Create dictionary with n KV pairs
# Key start from 1 to n and value is its square
# n =4
# {1:1,2:4,3:9,4:16}
d = {}
n = int(input('Enter val for n'))
for i in range(1,n+1):
    d[i] = i ** 2
print(d)

Enter val for n6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [43]:
# Create a dictionary to store the words 
# of the given string as value
# and the first char as the key
# "Applied Data Science Course"
# {'A':"Applied",'D':'Data','S':'Science','C':'Course'}
st = "Applied Data Science Course"
dic={}
for w in st.split():
    dic[w[-1]]=w
print(dic)

{'d': 'Applied', 'a': 'Data', 'e': 'Course'}

In [3]:
# Create a dictionary to store the words 
# of the given string as value
# and the first char as the key
# "Applied Data Science Course"
# {'A':"Applied",'D':'Data','S':'Science','C':'Course'}
st = "Applied Data Science Course"
dic={}
for w in st.split():
    dic[w[-1]]=w
print(dic)

{'d': 'Applied', 'a': 'Data', 'e': 'Course'}

In [41]:
st.split()

['Applied', 'Data', 'Science', 'Course']

In [13]:
# consider a dict
# {'A':"Applied",'D':'Data','S':'Science','C':'Course'}
# Read the key to search
# if key present display all values in opposite order
dic = {'A':"Applied",'D':'Data','S':'Science','C':'Course'}
s = input('Enter key to search')
if s in dic:
    l = list(dic.values())
    print(l[::-1])
else:
    print('Search key not present')

['Course', 'Science', 'Data', 'Applied']

In [44]:
li = [1,20,3]
li[::-1]

[3, 20, 1]

In [14]:
# consider a dict
# {'A':"Applied",'D':'Data','S':'Science','C':'Course'}
# Read the key to search
# if key present display all values in opposite order

d = {'A':"Applied",'D':'Data','S':'Science','C':'Course'}
s = input('Enter search value')
li = []
if s in d.keys():
    print(s, 'is in the dictionary ')
    li =  list(d.values())
    print(li[::-1])
else:
    print(s, 'is not in the dictionary')

A is in the dictionary
['Course', 'Science', 'Data', 'Applied']

In [2]:
tu = (9,1)
sett = {2,3}
sett2 = {4,2}
listt = [12,3]
listt2 = [19,18]
type(tu)
type(sett)
type(listt)

# listt.append(9)
# listt
# listt.extend([12,13])
# listt.insert(1,99)
# listt.sort(reverse=True)
# listt
# sett.union(tu)
# sett.intersection(listt)

sett | sett2

{2, 3, 4}

In [44]:
a= ''
ap =['Al','-ha','tta','li']
for i in ap[::-1]:
    a = i + a
    
print(a)

Al-hattali

In [50]:
a = 0
d = {1:'A',2:'B',3:'C',4:'D',5:'E'}

print(sum(d.keys()))

15

In [5]:
Tempreture = [36.5,35.4,38.9,34.7]

for i in Tempreture[::-1]:
    print(i)

34.7
38.9
35.4
36.5

In [11]:

def ap(st):
    if len(st) % 2 !=0:
        return st[-1]
    else:
        return st[0]

In [13]:
ap('help')

'h'

In [14]:
ap('helpe')

'e'

In [22]:
aop = {1:'a',2:'b',3:'c'}

for i,v in aop.items():
    print(f'this is key {i} ,and this is value {v}')

this is key 1 ,and this is value a
this is key 2 ,and this is value b
this is key 3 ,and this is value c

In [35]:
aop = {1:'a',2:'b',3:'c'}

for i in aop.keys():
    aop[i] = i**2
    
print(aop)

# d = {}
# n = int(input('Enter val for n'))
# for i in range(1,n+1):
#     d[i] = i ** 2
# print(d)

{1: 1, 2: 4, 3: 9}

In [2]:
aop = {1:'a',2:'b',3:'c'}
aop

{1: 'a', 2: 'b', 3: 'c'}

In [40]:

def opi(st):
    if len(st)%2 == 0:
        return st[-1]
    else:
        return st[0]

In [42]:
opi('helpe')

'h'

In [10]:
aopq = {'A':'a','B':'b','C':'c'}
aopq['D'] = 'd'

In [16]:
Temp = [36.5,35.4,38.9,34.7]
Temp.append(7.)
Temp

[36.5, 35.4, 38.9, 34.7, 7.0]

In [17]:
Temp

[36.5, 35.4, 38.9, 34.7, 7.0]

In [20]:
a = [1,2,3,4,5]
b = [2,6,7,8,9]

{1, 3, 4, 5}